{% ckan_extends %}

{% block resource_additional_information_inner %}
  {# Try and inherit from archiver's resource_read #}
  {{ super() }}
  <br>
  {{ h.qa_openness_stars_resource_html(c.resource) }}

{% endblock %}

{% block package_openness %}
{% if c.pkg_dict %}
<div class="module module-narrow module-shallow context-info">
  <h2 class="module-heading">{{ _('Openness') }}</h2>
  <section class="module-content">
    {{ h.get_qa_openness(c.pkg_dict) }}<br>
  </section>
</div>
{% endif %}
{% endblock %}